/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL STYLES*/

*{
    box-sizing:border-box;
    max-width:100%;
    /*border:1px solid grey;*/
    text-decoration: none;
    color: #fff;
}

html {
    font-size:62.5%
}

body {
    font-size:1.6rem;
    font-family: 'Source Code Pro', monospace;
    background-image: linear-gradient(#9ad1d4, #ff797f);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    text-shadow: 1px 1px gray;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

section {
    padding:4% 0;
    width:90%;
    margin:0 auto;
}

/*NAV STYLES*/

header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}

nav {
    display:flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    width: 10rem;
    height: 3rem;
    margin: 5px;
    text-align: center;
}

nav a:hover {
    background-color: #ff797f;
}

.name {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;
}

/*HERO IMAGE STYLES*/

.hero-image {
    background-image: url("clouds.jpg");
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3% auto;
}

.hero-text {
    text-align: center;
}

.hero-text a {
    text-align: center;
    background-color: #ff797f;
}

.hero-text a:hover {
    background-color: #9ad1d4
}

/*PROJECT STYLING*/

.gallery {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width: 100%;
}

.project {
    width: 30%;
    height: 30%;
    padding: 1%;
}

.project:hover {
    opacity: 0.5;
}

.title {
 padding: 0 50%;
}

/*FOOTER STYLING*/

footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}

footer a {
    width: 10rem;
    height: 3rem;
    text-align: center;
}

footer a:hover {
    background-color: #9ad1d4;
}

/*TABLET 800*/
@media(max-width: 800px) {

h1 {
    font-size: 6rem;
}

.hero-image {
    height: 30vh;
}

} /*CLOSING 800PX BRACKET*/

/*PHONE 500*/

@media(max-width: 500px) {

.name {
    margin: 0;
}

h1 {
    font-size: 5rem;
}
    
h2 {
    font-size: 2rem;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180px;
}
    
nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}
    
.hero-image {
    height: 20vh;
}
    
.gallery {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width: 100%;
}
    
.project {
    width: 40%;
    height: 40%;
    padding: 1%;
    margin-bottom: 20px;
}
    
} /*CLOSING 500PX BRACKET*/